*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
 body{
   background-color: ghostwhite
 }
 .box{
   background-color: lawngreen;
   max-width: 400px;
   margin: 10px auto;
   padding: 20px;
   border-radius: 10px;
 }
 h1{
   text-align: center;max-width: 400px;
   margin: 20px auto;
   padding: 30px;
   border-radius: 10px;
   margin-buttom: 10px;
   text-transform: uppercase;
   padding: 10px;
   font-size: 1.7rem;
   
 }
 .form-control{
   display: block;
   width: 100%;
   
 }
 input{
   padding: 10px;
   border-color: blue;
   margin-bottom: 20px;
   border-radius: 5px
 }
 label{
   font-size: 1.2rem;
   margin-bottom: 10px;
 }
 .btn{
   background-color: blue ;
   padding: 10px 20px;
   color: greenyellow;
   margin-top: 30px;
   border: none;
   font-size:1rem;
   text-transform: uppercase;
   cursor:pointer;
   transition: 0.5s ease-in-out;
 }
 .btn:hover{
   background-color: rgb(red, green, blue);
   transform: scale(.8);
   
 }